@model FMS_Model.Worker
@{
    ViewBag.Title = "EditProfileWorker";
}


<div class="container">
    <br />
    <br /><br />
    <br /><br />

    <fieldset>
        <legend>Edit Profile</legend>
        @using (Html.BeginForm("EditProfileWorker", "Worker"))
        {


            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                    <input class="form-control" name="FristName" value="@Model.UserInfo.FristName" id="inputName" placeholder="First Name" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                    <input class="form-control" name="LastName" value="@Model.UserInfo.LastName" id="inputName" placeholder="Last Name" type="text">
                </div>
            </div>

            @*<div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" value="aksk5718@gmail.com" id="inputEmail" placeholder="Email" type="text">
                    </div>
                </div>*@

            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">City</label>
                <div class="col-lg-10">
                    <input class="form-control" name="City" value="@Model.UserInfo.City" id="inputUserName" placeholder="City" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">State</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="State" value="@Model.UserInfo.State" placeholder="State" type=" text">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Country</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="Country" value="@Model.UserInfo.Country" placeholder="Country" type=" text">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Rate Per Hour</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="RatePerHour" value="@Model.RatePerHour" placeholder="Company Name" type=" text">
                </div>
            </div>



            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Earned Money</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="EarnedMoney" value="@Model.EarnedMoney" placeholder="Company Code" type=" text">
                </div>
            </div>
       





            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="Password" value="" placeholder="Password" type=" text">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" name="ConfirmPassword" value="" placeholder="Confirm Password" type=" text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">

                    <input class="btn btn-primary" value="Save" type="submit" />


                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">

                    <a href="@Url.Action("Deleteacount", "Worker")" class="btn btn-danger" value="Delete" type="submit">
                        Delete
                    </a>

                </div>
            </div>
        }
    </fieldset>

</div>


