@model FMS_Model.Worker
@{
    ViewBag.Title = "WorkerProfile";
    Layout = "~/Views/Shared/AfterLoginWorker.cshtml";
}

<div class="container" >

<br />

<div class="row" id="bgimage">

    <div class="col-md-3" style="">
        <div class="Container" style="box-shadow: 0 15px 40px rgba(80,138,255,0.5); ">
            <br />
            <div class="row">
                <div class="col-md-2" style=""></div>
                <div class="col-md-8" style="">
                    <div style=" border-width: 0px; height: 200px; width: 200px; left: 37px; top: 20px; overflow: hidden; " align="Center">

                        <img src="man.jpg" alt="Paris" style="border-radius: 50%;height: 200px; width: 200px; ">

                        <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    </div>
                </div>
                <div class="col-md-2" style=""></div>



            </div>

            <br /><br />
         

            <div style=" border-width: 0px; height: 400px; width: 250px; overflow: hidden; color:white;">

                <br /><br />



                &nbsp;&nbsp;
                Name
                :
                @Model.FristName &nbsp; @Model.LastName


                


                <hr>
                &nbsp;&nbsp;
                Email
                :
                @Model.Email

                

              
                <hr>
                &nbsp;&nbsp;
                Date of Birth
                :
                @Model.DateofBrith

                

                <hr>
                &nbsp;&nbsp;
                Role
                :
                @Model.UserType

                

                <hr>
                &nbsp;&nbsp;
                Status
                :
                Active

                <hr>
                &nbsp;&nbsp;
                User Since
                :
                @Model.JoinDate


            </div>
            <div style=" border-width: 0px;  height: 40px; width: 110px; overflow: hidden;">
                &nbsp;&nbsp;
                <a href="@Url.Action("EditProfileWorker", "Worker")" class="btn btn-success" type="button">
                    <i class="fa fa-edit"></i>

                    <font color="White">Edit</font>
                </a>

                <br /><br />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="">
        <div class="row">
            <div class="col-md-12">
                <div style=" border-width: 0px;  overflow: hidden;">
                    <fieldset>
                        <legend><h3>Current Jobs:</h3></legend>
                        <div class="list-group">
                            @foreach (var p in Model.PostAProjects)
                            {
                                <a href='@Url.Action("WorkProgressWoker","Worker")/@p.PostId' class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@p.ProjectName</h5>
                                        <small>@p.StartTime</small>
                                    </div>
                                    <p class="mb-1">@p.Description</p>

                                </a>
                            }
                          

                        </div>

                    </fieldset>
                </div>
                <div style=" border-width: 0px; overflow: hidden; ">
                    <h1 class="display-3" style="text-shadow: 2px 2px #FF0000;;">About Me</h1>
                    <input type="checkbox" id="chkPassport" onclick="ShowHideDiv(this)" />
                    Show my Information
                    <label>
                    <div id="dvPassport" style="display: none">
                        <br />
                        <p class="lead" style="color:white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                    <br /><br /><br />
                    <input type="checkbox" id="chkPassport1" onclick="ShowHideDiv1(this)" />
                    Show my Skills
                    </label>
                    <div id="dvPassport1" style="display: none">
                        <p class="lead" style="color:white">
                            <ul>
                                <li>
                                    IT
                                    <ol>
                                        <li>C</li>
                                        <li>C++</li>
                                        <li>.Net</li>
                                        <li>MySql</li>
                                    </ol>
                                </li>
                                <li>
                                    Writing and Content
                                    <ol>
                                        <li>Translating</li>

                                    </ol>
                                  

                            </ul>

                        </p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                    <br /><br /><br />
                    <p class="lead">
                        <a href="@Url.Action("ProjectList", "Worker")" class="btn btn-success" type="button">Search Jobs</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3" style="">
        <div class="container-fluid" style="box-shadow: 0 15px 40px rgba(39,40,43,1); color:white;">


            <h1 align="center">$5</h1><hr>
            <div style=" border-width: 0px;  ">
                &nbsp; &nbsp;Ratings:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                5.0
                <div>
                    &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a class="btn  btn-success" data-toggle="modal" data-target=".bootstrapmodal">view</a>

                    <div class="modal fade bootstrapmodal">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">
                                    <button data-dismiss="modal" class="close">
                                        <span>&times;</span>
                                    </button>
                                    <h3>Rating Chart</h3>

                                </div>
                                <div class="modal-title">

                                </div>

                                <div class="modal-body">
                                    <div id="piechart"></div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><hr><br>
                &nbsp; &nbsp;<font color="#00ff40">87%</font>&nbsp; &nbsp; &nbsp; Communication Skill<br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">92%</font>&nbsp; &nbsp; &nbsp; On Time <br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">90%</font>&nbsp; &nbsp; &nbsp; On Budget<br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">85%</font>&nbsp; &nbsp; &nbsp; Completeness<br><br><br>

            </div><br /><br />
         


        </div>
    </div>
</div>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    function ShowHideDiv(chkPassport) {
        var dvPassport = document.getElementById("dvPassport");
        dvPassport.style.display = chkPassport.checked ? "block" : "none";
    }
	function ShowHideDiv1(chkPassport1) {
        var dvPassport = document.getElementById("dvPassport1");
        dvPassport.style.display = chkPassport1.checked ? "block" : "none";
    }
</script>

