
@{
    ViewBag.Title = "OwnerProfile";
}
@model FMS_Model.Owner
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Reliability', 8],
  ['Behavior', 2],
  ['On word', 4],
  ['Comunicaton Skill', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
    </script>
    <script>
        $(document).ready(function() {
            $('#slider').slider({
                range: true
            });
        });
    </script>
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
    </style>
    <title>Job Home</title>

</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #132542">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

            </div>

            <div class="navbar-collapse collapse" id=".navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="JobHome.html"><span class="glyphicon glyphicon-home"></span></a></li>

                    <li class="nav-item dropdown">
                        <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="False" aria-haspopup="true" role="button">
                            Lance Bucket<span class="caret"></span>
                        </a>

                    </li>


                    <li><a href="JobHome.html"> Job Timeline</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right " style="right: 30px">
                    <li>
                        <a href="JobPost.html" class="btn btn-warning" type="button">
                            <font color="White">Post a Project</font>
                        </a>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"> Profile </span></a></li>
                    <li style=""><a href="Open.html"><span class="glyphicon glyphicon-log-in"> LogOut</span></a></li>


                    <li style=""><a href="">           </a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />  <br />*@
    <div class="container">

        <br />

        <div class="row" id="bgimage">

            <div class="col-md-3" style="">
                <div class="Container" style="box-shadow: 0 15px 40px rgba(80,138,255,0.5); ">
                    <br />
                    <div class="row">
                        <div class="col-md-2" style=""></div>
                        <div class="col-md-8" style="">
                            <div style=" border-width: 0px; height: 200px; width: 200px; left: 37px; top: 20px; overflow: hidden; " align="Center">

                                <img src="man.jpg" alt="Paris" style="border-radius: 50%;height: 200px; width: 200px; ">

                                <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                            </div>
                        </div>
                        <div class="col-md-2" style=""></div>



                    </div>

                    <br /><br />
                    

                    <div style=" border-width: 0px; width: 250px; overflow: hidden; color:white;">

                        <br /><br />




                        &nbsp;&nbsp;
                        Name
                        :
                        @Model.FristName

                        <hr>
                        &nbsp;&nbsp;
                        Gender
                        :
                        @Model.LastName
                        <hr>

                        &nbsp;&nbsp;
                        Email
                        :
                        @Model.Email

                       

                        <hr>
                        &nbsp;&nbsp;
                        Date of Birth
                        :
                        @Model.DateofBrith

                        <hr>
                        &nbsp;&nbsp;
                        Role
                        :
                        Owner
                        
                        <hr>
                        &nbsp;&nbsp;
                        Join Date
                        :
                        @Model.JoinDate

                        <hr>
                        &nbsp;&nbsp;
                        City
                        :
                        @Model.City
                        
                        <hr>
                        &nbsp;&nbsp;
                        Country
                        :
                        @Model.Country
                        
                        <hr>
                        &nbsp;&nbsp;
                        State
                        :
                        @Model.State
                        
                       
                        


                    </div>
                    <br/><br />
                    <div style=" border-width: 0px;  height: 40px; width: 110px; overflow: hidden;">
                        &nbsp;&nbsp;
                       <a href="@Url.Action("EditProfile","Owner")" class="btn btn-success" type="button">
                            <i class="fa fa-edit"></i>

                            <font color="White">Edit</font>
                        </a>


                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="">
                <div class="row">
                    <div class="col-md-12">
                        <div style=" border-width: 0px; overflow: hidden; ">
                            <h1 class="display-3" style="text-shadow: 2px 2px #FF0000;;">About Me</h1>
                            <p class="lead" style="color:white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg"  href="@Url.Action("CreateProject","ProjectPost")" role=" button">Create Job</a>
                            </p>
                        </div>


                        <div style=" border-width: 0px;  overflow: hidden;">
                            <fieldset>
                                <legend>Posted Jobs:</legend>
                             @foreach (var p in Model.PostAProject)
                             {
                                 <div class="list-group">
                               


                                     <a href='@Url.Action("WorkProgress","ProjectPost")/@p.PostId' class=" list-group-item list-group-item-action flex-column align-items-start active">
                                         <div class="d-flex w-100 justify-content-between">
                                             <h5 class="mb-1">@p.ProjectName</h5>
                                             <small>@p.StartTime</small>
                                         </div>
                                         <p class="mb-1">@p.Description</p>

                                     </a>
                                     @Html.ActionLink("Requests", "RequestedMember", new { Controller = "ProjectPost", id = @p.PostId }, new { @class = "btn btn-info" })


                                  
                                 </div>
                             }

                               

                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3" style="">
                <div class="container-fluid" style="box-shadow: 0 15px 40px rgba(39,40,43,1); color:white;">


                    <h1 align="center"></h1><hr>
                    <div style=" border-width: 0px;  ">
                        &nbsp; &nbsp;Ratings:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        5.0
                        <div>
                            &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                            <a class="btn  btn-success" data-toggle="modal" data-target=".bootstrapmodal">view</a>

                            <div class="modal fade bootstrapmodal">
                                <div class="modal-dialog">


                                    <div class="modal-content">


                                        <div class="modal-header">
                                            <button data-dismiss="modal" class="close">
                                                <span>&times;</span>
                                            </button>
                                            <h3>Rating Chart</h3>

                                        </div>
                                        <div class="modal-title">

                                        </div>

                                        <div class="modal-body">
                                            <div id="piechart"></div>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><hr><br>
                        &nbsp; &nbsp;<font color="#00ff40">87%</font>&nbsp; &nbsp; &nbsp; Communication Skill<br><br><br>
                        &nbsp; &nbsp;<font color="#00ff40">92%</font>&nbsp; &nbsp; &nbsp; Reliability <br><br><br>
                        &nbsp; &nbsp;<font color="#00ff40">90%</font>&nbsp; &nbsp; &nbsp; On Word<br><br><br>
                        &nbsp; &nbsp;<font color="#00ff40">85%</font>&nbsp; &nbsp; &nbsp; Behavior<br><br><br>

                    </div><br /><br />
                   


                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>
</body>
</html>*@

