@model FMS_Model.RatingWorkerModel
@{
    ViewBag.Title = "WorkerList";
    Layout = "~/Views/Shared/AfterLoginOwner.cshtml";
}
@for (int i = 0; i < @Model.UserId.Count; i++)
{
    @Html.ActionLink(@Model.Name[i], "RatingWorkers", "Owner", new { id = @Model.UserId[i], id2 = @Model.PostId }, new { @id = @Model.UserId[i] })
    <br />
    @*<a href="@Url.Action("RatingWorkers","Owner")/@Model.UserId[i]" class="btn btn-success" type="button">@Model.Name[i]</a>
    <br/>*@

}

<a href="@Url.Action("DeletePost","Owner")/@Model.PostId" class="btn btn-success" type="button">Done</a>

